.scrollableLink {
    overflow-x: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
    color:black;
    display:block;
    white-space: nowrap;
}

.externalLink {
    color: black;
    font-weight: 800;
    text-decoration: underline;
}