.card {
  margin-top: 32px;
  background: var(--contrast-text);
  box-shadow: 0px 15px 30px #06102421;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}


.verification {
  border-right: 1px solid var(--background);
  padding: 24px;
  flex: 0 0 100%;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .verification {
    flex: 0 0 325px;
  }

  .card {
    flex-wrap: nowrap;
  }
}

.loadingIndicator {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  color: var(--primary);
  font-weight: bold;
}

.loadingIndicator span {
  margin-right: 8px;
}

.resultLog {
  padding: 24px;
}

.loadingMessage {
  display: flex;
  height: 100%;
  align-items: center;
}

.message {
  height: 60px; /* Sets the height of the box */
  border: 2px solid black; /* Adds a border around the box */
  padding: 15px; /* Adds space between the content and the border */
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px; /* Adds space outside the border, between this box and other elements */
}

.error {
  background-color: darkorange; /* Sets the background color of the box */
}

.warning {
  background-color: lightgreen; /* Sets the background color of the box */
}