.icon {
  margin-left: .5em;
  font-size: .9em;
  vertical-align: top;
}


.help-icon-container {
  /* Ensures the cursor changes to a hand icon on hover */
  cursor: pointer; 
  /* Optional: Add a smooth transition for visual effects */
  transition: color 0.3s ease; 
}

.help-icon-container:hover {
  /* Optional: Change the color on hover */
  color: #007bff; 
  /* Optional: Add a slight scale effect */
  transform: scale(1.1); 
}