.note {
    color: white;
    font-size: 16px;
    background-color: gray;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}

.list {
    list-style-type: disc;
    padding-left: 20px;
}

.image {
   display:inline-block
}

.title {
    text-align: center;
    font-size: 18px;
    font-weight:500;
}

.criteriaTitle {
    text-align: center;
    font-size: 16px;
    font-weight:600;
    padding-bottom: 5px;
}

.subtitle {
    font-size: 15px;
    font-weight:500;
    padding: 5px;
}
.criteria {
    background-color:aliceblue;
    padding: 5px
}

.preference {
    padding-bottom: 5px;
}

.infoIcon {
    display: inline-block;
    padding-right: 6px;
}